# vim: ft=zsh

# Convert nvim to vim
alias vim=nvim

# GREP
alias grep='grep --color=auto'
alias fgrep='fgrep --color=auto'
alias egrep='egrep --color=auto'

# LS
alias ls='ls --color=auto'
alias ll='ls -alF'
alias lll='ls -alFh'
alias la='ls -a'
alias l='ls -CF'

# GREP
alias rgrep='grep -r'

# TMUX
alias tmux='tmux -u'
alias ta='tmux -u a'
alias tat='tmux -u a -t'
alias tls='tmux -u ls'
alias tn='tmux -u new -s'
alias tnn='function _tnew() { [[ -n "$TMUX" ]] && { tmux new-session -d -s "$1" && tmux switch-client -t "$1"; } || echo "You are not inside a tmux session. Please start tmux first."; }; _tnew' # Create new named tmux from inside a tmux session


# Python
alias python='python3'
alias ipython='ipython3'
alias pip='pip3'

# GIT
alias gap='git add -p'
alias gapp='git apply'
alias gcan='git commit --amend --no-edit'
alias gdc='git diff --cached'
alias gdst='git diff --stat'
alias gce='git commit --allow-empty'

# YAZI
alias yz='yazi'

# SL - The annoying train
alias sl='sl -ale'


# Batcat
if command -v batcat >/dev/null 2>&1; then
  alias cat='batcat'
elif command -v bat >/dev/null 2>&1; then
  alias cat='bat'
fi

# Docker
dcupe() {
  if [ $# -lt 1 ]; then
    echo "Error: No env file path provided."
    echo "Usage: $0 <env-file path>"
    return 1
  fi
  env_file="$1"
  shift
  docker-compose --env-file "$env_file" up "$@"
}

# Unaliases
unalias y

[[ -f ~/.localAliases ]] && source ~/.localAliases
