" .ideavimrc is a configuration file for IdeaVim plugin. It uses
"   the same commands as the original .vimrc configuration.
" You can find a list of commands here: https://jb.gg/h38q75
" Find more examples here: https://jb.gg/share-ideavimrc
let mapleader = " "
set number
set relativenumber
set ignorecase
set smartcase
set nowrap
imap jj <Esc>

"" -- Suggested options --
" Show a few lines of context around the cursor. Note that this makes the
" text scroll if you mouse-click near the start or end of the window.
set scrolloff=5

" Do incremental searching.
set incsearch

set which-key

" Don't use Ex mode, use Q for formatting.
map Q gq


" --- Enable IdeaVim plugins https://jb.gg/ideavim-plugins

" Highlight copied text
Plug 'machakann/vim-highlightedyank'

" Commentary plugin
Plug 'tpope/vim-commentary'

" Sneak
Plug 'justinmk/vim-sneak'

" Surround
Plug 'tpope/vim-surround'

" HighlightedYank
Plug 'machakann/vim-highlightedyank'

" Paragraph-Motion
Plug 'dbakker/vim-paragraph-motion'

" EastMotion
Plug 'easymotion/vim-easymotion'

" Quickscope
set quickscope

"" -- Map IDE actions to IdeaVim -- https://jb.gg/abva4t
"" Map \r to the Reformat Code action
"map \r <Action>(ReformatCode)

"" Map <leader>d to start debug
"map <leader>d <Action>(Debug)

"" Map \b to toggle the breakpoint on the current line
"map \b <Action>(ToggleLineBreakpoint)
"
" Scroll down through autocompletion suggestions
imap <A-j> <C-n>

" Scroll up through autocompletion suggestions
imap <A-k> <C-p>

vnoremap <Leader>p "_dP
